<app-header />

<main>
    <ul id="users">
        <!-- What is track? Angular internally wants to keep track of every list item'
         rendered so if a list were to change angular could easily reuse already
         rendered list items rather than rerendering the whole list. We use track to 
         render this dynamic data more efficiently. We use user.id here as a unique
         identifier for every list item -->
        @for (user of users; track user.id) {
            <li>
                <!-- Setting these values in brackets so that they are dynamic properties -->
                <app-user 
                    [user]="user"
                    [selected]="user.id === selectedUserId"
                    (select)="onSelectUser($event)"
                />
            </li>
        }
    </ul>

    <!-- If we have a selected user, then render this -->
    @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    } @else {
        <p id="fallback">Select a user to see their tasks.</p>
    }
</main>