<div class="backdrop" (click)="onCancel()"></div>
    <!-- The <dialog> element creates a dialog box or modal that can be displayed over 
    the content of the page. When "open" is present, the dialog is shown to the user.
    You can control this attribute with JavaScript to show or hide the dialog if you'
    want. In this case we want it always open -->
<dialog open>
  <h2>Add Task</h2>
  <!-- Angular's ngSubmit directive fires upon form submission. You can run whatever
   code you want here to handle form submission -->
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <!-- Angular "directives" like ngModel allow us to add extra functionality to 
      elements. ngModel is used for form elements to help us get access to the value
      that is input by the user into those elements -->
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle"/>
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input type="date" id="due-date" name="due-date" [(ngModel)]="enteredDate"/>
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>